.main-navigation{
    height: 891px;
    position: relative;
}
#back{
    background:#42413C;
    position:  absolute;
    width: 100vw;
    height: 914px;
    left: -166px;
    z-index: -1;
}
.main-navigation-grid{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap :30px;
    
}
.main-navigation-element{
    background:#F5F4F0;
    
}
.card{
    width: 350px;
    height: 323px;
}
.first{
    background: #42413C;
    display: flex;
    line-height: 1.0;
    flex-direction: column;
    flex-wrap: wrap;
}
.main-navigation-h2{
    color: #42413C;
    font-size: 64px;
    font-style: normal;
    line-height: 1.2;
    margin: 0 0 40px 24px;
}
.main-navigation-h3{
    color: #FE8A02;
    font-size: 34px;
    font-style: normal;
    line-height: 1.2;
    margin: 0 24px 16px 24px;
}
.main-navigation-span{
    display: block;
   margin: 0 24px 0 24px;
}
.main-navigation-element-h3{
 color:#FE8A02;
 font-size: 52px;
 
 margin: 0;
}
.main-navigation-element-span{
color:#fff;
font-size: 52px;
margin: 0;
}